absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
argilla==1.3.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.1
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
black==21.4b2
bleach==5.0.1
blinker==1.5
Brotli==1.0.9
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
chromadb==0.3.21
click==8.1.3
clickhouse-connect==0.5.20
cloudpickle==2.2.1
coloredlogs==15.0.1
commonmark==0.9.1
ConfigArgParse==1.5.3
contourpy==1.0.6
cramjam==2.6.2
cryptography==39.0.2
cycler==0.11.0
Cython==0.29.33
dataclasses-json==0.5.7
datasets==2.8.0
DBUtils==3.0.2
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@d1e04565d3bec8719335b88be9e9b961bf3ec464
dill==0.3.6
dnspython==2.3.0
docstring-parser==0.15
duckdb==0.7.1
effdet==0.3.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.1.0
fake-useragent==1.1.3
fastapi==0.92.0
fastjsonschema==2.16.2
fastparquet==2022.12.0
ffmpeg-python==0.2.0
filelock==3.8.0
Flask==2.2.2
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.10
flatbuffers==23.3.3
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.11.0
future==0.18.3
fvcore==0.1.5.post20221221
gevent==22.10.2
geventhttpclient==2.0.8
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-search-results==2.4.2
googleapis-common-protos==1.56.4
greenlet==2.0.1
grpc-gateway-protoc-gen-openapiv2==0.1.0
grpcio==1.49.1
gunicorn==20.1.0
h11==0.14.0
hnswlib==0.7.0
httpcore==0.16.3
httpimport==1.0.0
httplib2==0.22.0
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.13.4
humanfriendly==10.0
hydra-core==1.3.2
idna==3.4
importlib-metadata==6.0.0
inflection==0.5.1
iopath==0.1.9
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsons==1.6.3
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
kiwisolver==1.4.4
langchain==0.0.103
langflow==0.0.57
layoutparser==0.3.4
llama-cpp-python==0.1.23
llvmlite==0.39.1
locust==2.13.1
loguru==0.6.0
lxml==4.9.2
lz4==3.1.10
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.4
mmh3==3.0.0
monotonic==1.6
more-itertools==9.1.0
mpmath==1.3.0
msg-parser==1.2.0
msgpack==1.0.4
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
nbclient==0.7.0
nbconvert==7.1.0
nbformat==5.6.1
nest-asyncio==1.5.6
networkx==3.1
nltk==3.7
notebook==6.4.12
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
olefile==0.46
omegaconf==2.3.0
onnxruntime==1.14.1
openai==0.27.2
openai-whisper==20230308
opencv-python==4.6.0.66
openpyxl==3.1.1
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.11.0
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pinecone-client==2.2.1
poppler-utils==0.1.0
portalocker==2.7.0
posthog==3.0.0
profanityfilter==2.0.6
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==3.20.3
psutil==5.9.4
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.5
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.5
pydeck==0.8.0
pydot==1.4.2
Pygments==2.13.0
pymongo==4.3.3
Pympler==1.0.1
pypandoc==1.11
pyparsing==3.0.9
pypdf==3.8.0
pyrsistent==0.18.1
pysolr==3.9.0
pyspark==3.3.1
pysrt==1.1.2
pytesseract==0.3.10
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-magic==0.4.27
python-multipart==0.0.6
python-pptx==0.6.21
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.3.2
QtPy==2.2.1
redis==4.5.1
regex==2022.9.13
requests==2.28.2
requests-oauthlib==1.3.1
responses==0.18.0
rfc3986==1.5.0
rich==13.3.4
roundrobin==0.0.4
rsa==4.9
scikit-learn==1.1.2
scipy==1.9.2
seaborn==0.12.2
semantic-version==2.10.0
semver==2.13.0
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
setuptools-rust==1.5.2
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
stack-data==0.5.1
starlette==0.25.0
streamlit==1.19.0
streamlit-chat==0.0.2.2
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
termcolor==2.2.0
terminado==0.16.0
threadpoolctl==3.1.0
tiktoken==0.3.3
timm==0.6.12
tinycss2==1.1.1
tk==0.1.0
tokenizers==0.13.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tornado==6.2
tqdm==4.65.0
traitlets==5.4.0
transformers==4.23.1
typer==0.7.0
types-PyYAML==6.0.12.9
typing-inspect==0.8.0
typing_extensions==4.5.0
typish==1.9.3
tzdata==2022.7
tzlocal==4.2
unstructured==0.5.13
unstructured-inference==0.2.7
uritemplate==4.1.1
urllib3==1.26.15
uuid==1.30
uvicorn==0.20.0
uvloop==0.17.0
validators==0.20.0
Wand==0.6.11
watchdog==2.3.1
watchfiles==0.19.0
wcwidth==0.2.5
webencodings==0.5.1
websockets==11.0.2
Werkzeug==2.2.2
widgetsnbextension==4.0.3
wrapt==1.14.1
XlsxWriter==3.0.8
xxhash==3.2.0
yacs==0.1.8
yarl==1.8.2
zipp==3.15.0
zope.event==4.5.0
zope.interface==5.5.2
zstandard==0.21.0
